* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

:root {
    --MainBackground: #2A2C2D;
    --SecondBackground: #2e3031;
    --ThirdBackground: #6b5cc0;
    --MainTitleFontFamilyColor: #fdfdfd;
    --UserMessageColor: #3c3d3d;
    --ContactMessageColor: #6556ac;
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

#main-container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 100%;
}

#container-search-view-contacts {
    background-color: var(--SecondBackground);
    width: 100%;
    height: 100%;

}

#chat-container {
    background-color: var(--MainBackground);
    width: 100%;
    height: 100%;
}

#search-contact-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#search-contact-container nav {
    display: flex;
    justify-content: center;
    padding: 0 1.3rem;
    gap: 0.7rem
}

#search-contact-container nav input {
    width: 100%;
    border-radius: 3rem;
    border: none;
    outline: none;
    background-color: #393b3b;
    padding: 0 1rem;
    color: white;
    height: 2.6rem;
    font-size: 1rem;
}

#search-contact-container nav button {
    border: none;
    background-color: #6b5cc0;
    border-radius: 100%;
    cursor: pointer;
    padding: 0.3rem;
}

#search-contact-container nav button img {
    border: 0;
    height: 2rem;
    width: 2rem;
}

#contacts-title {
    font-size: 3rem;
    color: var(--MainTitleFontFamilyColor);
    font-family: lato;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}


#contacts-container {
    width: 100%;
    overflow-y: auto;

}

#contacts {
    display: flex;
    flex-direction: column;
}


#contacts>div {
    display: grid;
    grid-template-columns: 7fr 3fr;
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #3a3c3d;
    justify-content: space-evenly;
    cursor: pointer;
}

#contacts>div p {
    margin-left: 2rem;
    color: #e0e7e7;
    font-size: 1.4rem;
    text-transform: capitalize;
}

#contacts>div span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.78em;
    height: 1.8rem;
    background-color: #52488b;
    color: white;
    border-radius: 100%;
    margin: auto;
}

#add-contact {
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #3a3c3d;
    justify-content: space-evenly;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}

#add-contact img {
    padding: 1rem;
    border-radius: 100%;
    background-color: #262829;
    display: inline-block;
    margin-left: 2rem;
}

#add-contact p {
    color: #e0e7e7;
    font-size: 1.4rem;
    text-transform: capitalize;
    margin: auto 0;
}

#contacts>div:hover {
    background-color: #303233;

}

#chat-header {
    width: 100%;
    display: flex;
    height: 5rem;
    background-color: #262829;
    justify-content: space-between;
    padding: 0 2.3rem;
}

#chat-meta-data {
    display: flex;
    margin: auto 0;
    gap: 1.3rem;
}

#chat-meta-data img {
    height: 2.8rem;
    width: 2.8rem;
}

#chat-meta-data figcaption {
    margin: auto 0;
    font-family: lato;
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
}

.specific-date {
    width: 100%;
    /* border: solid; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #ffffff5b;
    font-size: 1rem;
    text-align: center;
    /* position: relative; */
    margin: 1rem 0;
}

.messages-specific-date {
    display: flex;
    flex-direction: column;
    margin: 0 1.2rem;
}

.contact-message,
.user-message {
    display: flex;
    flex-direction: column;
    margin: 0.7rem 0;
    gap: 0.6rem;

}

.contact-message {
    align-self: flex-end;
}


.user-message p,
.contact-message p {
    width: fit-content;
    padding: 0.4rem 0.7rem;
    height: fit-content;
    border-radius: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
}

.user-message p {
    background-color: var(--UserMessageColor);
}

.contact-message p {
    background-color: var(--ContactMessageColor)
}

.user-message p::before,
.contact-message p::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    bottom: -10px;


}

.user-message p::before {
    background: linear-gradient(165deg, var(--UserMessageColor) 0%, var(--UserMessageColor) 50%, transparent 0%, transparent);
    left: 4px;
}

.contact-message p::before {
    background: linear-gradient(-165deg, var(--ContactMessageColor) 0%, var(--ContactMessageColor) 50%, transparent 0%, transparent);
    right: 4px;
}

.user-message time,
.contact-message time {
    color: rgba(255, 255, 255, 0.267);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.contact-message time {
    text-align: right;
}