<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="../static/style/chat.css">
</head>

<body>
    <main>
        <section>
            <h3>contacts</h3>
            <nav>
                <div>
                    <input type="text">
                    <button>
                        <img src="" alt="">
                    </button>
                </div>
            </nav>
            <article>
                <div>
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <p>add contact</p>
                </div>
            </article>
        </section>
        <section>
            <header>
                <figure>
                    <img src="" alt="">
                    <figcaption> user name</figcaption>
                </figure>
                <button>
                    <img src="" alt="">
                </button>
            </header>
            <div>
                <div>
                    <h2>14 de frebero 2024</h2>
                    <div>
                        <p>hello brother</p>
                        <p>13:15</p>
                    </div>
                    <div>
                        <p>hi, how it's going</p>
                        <p>13:20</p>
                    </div>
                </div>
            </div>
            <div>
                <input type="text">
                <button></button>
            </div>
        </section>
    </main>
</body>

</html>