<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="../static/style/chat.css">
</head>

<body>
    <main id="main-container">
        <section id="container-search-view-contacts">
            <header id="search-contact-container">
                <h3 id="contacts-title">contacts</h3>
                <nav>
                    <div>
                        <input type="text">
                        <button>
                            <img src="../static/images/search.svg" alt="">
                        </button>
                    </div>
                </nav>
            </header>
            <article id="contacts-container">
                <div id="contacts">
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>mauricio</p>
                        <span>2</span>
                    </div>
                </div>
                <div id="add-contact">
                    <img src="" alt="">
                    <button></button>
                    <p>add contact</p>
                </div>
            </article>
        </section>
        <section id="chat-container">
            <header id="chat-header">
                <figure id="chat-meta-data">
                    <img src="" alt="">
                    <figcaption> user name</figcaption>
                </figure>
                <button id="menu">
                    <img src="" alt="">
                </button>
            </header>
            <div id="messages-container">
                <div id="messages-specific-date">
                    <h2 id="specific-date">14 de frebero 2024</h2>
                    <div>
                        <p>hello brother</p>
                        <p>13:15</p>
                    </div>
                    <div>
                        <p>hi, how it's going</p>
                        <p>13:20</p>
                    </div>
                </div>
            </div>
            <div id="send-message-container">
                <input type="text">
                <button></button>
            </div>
        </section>
    </main>
</body>

</html>